body{
  .avatar {
    width: 150px;
    height: 150px;
    transform: translate(100px, 100px);
  }
}

@font-face {
  font-family: "iconfont"; /* Project id 2404975 */
  src: url('./font/iconfont.woff2?t=1641780383040') format('woff2'),
       url('./font/iconfont.woff?t=1641780383040') format('woff'),
       url('./font/iconfont.ttf?t=1641780383040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e722";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-diantai:before {
  content: "\e636";
}

.icon-zhibo:before {
  content: "\e74f";
}

.icon-gedan:before {
  content: "\e600";
}

.icon-paihangbang:before {
  content: "\e69b";
}

.icon-tuijian:before {
  content: "\e629";
}

